@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2077 0.0398 265.7549);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2077 0.0398 265.7549);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2077 0.0398 265.7549);
  --primary: oklch(0.7049 0.1867 47.6044);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2795 0.0368 260.031);
  --secondary-foreground: oklch(0.9842 0.0034 247.8575);
  --muted: oklch(0.9683 0.0069 247.8956);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.7049 0.1867 47.6044);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.7049 0.1867 47.6044);
  --chart-1: oklch(0.7049 0.1867 47.6044);
  --chart-2: oklch(0.2077 0.0398 265.7549);
  --chart-3: oklch(0.3717 0.0392 257.287);
  --chart-4: oklch(0.7576 0.159 55.9344);
  --chart-5: oklch(0.4455 0.0374 257.2808);
  --radius: 0.5rem;
  --sidebar: oklch(0.2077 0.0398 265.7549);
  --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-primary: oklch(0.7049 0.1867 47.6044);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3717 0.0392 257.287);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2795 0.0368 260.031);
  --sidebar-ring: oklch(0.7049 0.1867 47.6044);
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.08), 0px 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0% 0% / 0.2);
}

.dark {
  --background: oklch(0.2077 0.0398 265.7549);
  --foreground: oklch(0.9842 0.0034 247.8575);
  --card: oklch(0.2795 0.0368 260.031);
  --card-foreground: oklch(0.9842 0.0034 247.8575);
  --popover: oklch(0.2077 0.0398 265.7549);
  --popover-foreground: oklch(0.9842 0.0034 247.8575);
  --primary: oklch(0.7576 0.159 55.9344);
  --primary-foreground: oklch(0.2077 0.0398 265.7549);
  --secondary: oklch(0.3717 0.0392 257.287);
  --secondary-foreground: oklch(0.9842 0.0034 247.8575);
  --muted: oklch(0.2795 0.0368 260.031);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.7576 0.159 55.9344);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9842 0.0034 247.8575);
  --border: oklch(0.3717 0.0392 257.287);
  --input: oklch(0.3717 0.0392 257.287);
  --ring: oklch(0.7576 0.159 55.9344);
  --chart-1: oklch(0.7576 0.159 55.9344);
  --chart-2: oklch(0.9842 0.0034 247.8575);
  --chart-3: oklch(0.7107 0.0351 256.7878);
  --chart-4: oklch(0.7049 0.1867 47.6044);
  --chart-5: oklch(0.869 0.0198 252.8943);
  --radius: 0.75rem;
  --sidebar: oklch(0.1288 0.0406 264.6952);
  --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
  --sidebar-primary: oklch(0.7576 0.159 55.9344);
  --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
  --sidebar-accent: oklch(0.2795 0.0368 260.031);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.2795 0.0368 260.031);
  --sidebar-ring: oklch(0.7576 0.159 55.9344);
  --shadow-2xs: 0px 10px 20px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 10px 20px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 10px 20px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow: 0px 10px 20px 0px hsl(0 0% 0% / 0.3), 0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow-md: 0px 10px 20px 0px hsl(0 0% 0% / 0.3), 0px 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-lg: 0px 10px 20px 0px hsl(0 0% 0% / 0.3), 0px 4px 6px -1px hsl(0 0% 0% / 0.3);
  --shadow-xl: 0px 10px 20px 0px hsl(0 0% 0% / 0.3), 0px 8px 10px -1px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0px 10px 20px 0px hsl(0 0% 0% / 0.75);
}

@theme inline {
  --font-sans: 'Zalando Sans', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
}
